.videoWrapper {
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.videoText {
    font-size: 1rem;
    text-align: left;
    margin-left: 10px;
    line-height: 7px;
}

.videoText .name {
    color: white;
}

.videoText .publisher,
.viewsDate
{
    color: lightgrey;
}

@media (min-width: 768px) {
    .theVideo {
        flex-basis: 100%;
        margin-bottom: 0;

    }
    .videoText {
        width: 560px;
        line-height: 5px;
        margin-top: 0;
        margin-left: 0;
    }

    .videoText .name {
        font-size: 1.2rem;
    }

    .videoText .publisher,
    .viewsDate {
        font-size: .9rem;
    }
}