.videoWrapper {
    flex: 0.55;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 25px;

}

.videoImage {
    margin-right: 7px;
}

.videoText {
    text-align: left;
    margin-left: 0px;
    line-height: 3px;
    width: 100%;
}

.videoText .name {
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
}

.videoText .videoDetails {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.videoText .viewsDate {
    font-size: .9rem;
    color: #606060;
    flex: .7;
}

.videoText .likes {
    font-size: .9rem;
    color:#909090;
    flex: .3;
    display: flex;
    justify-content: space-evenly;
}

.videoWrapper > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;  
}