.videoListWrapper {
    flex: 0.45;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.singleVideoSnippet {
    display: flex;
    flex-wrap: wrap;
}

.videolistText {
    text-align: left;
    margin-left: 0;
    line-height: 0;
    margin-bottom: 0;
}

.videolistText .videoName {
    font-size: .9rem;
    color: black;
    font-weight: 500;
}

.videolistText .videoPublisher,
.videoViews
{
    font-size: .8rem;
    color: #606060;
    line-height: 0;
}

.videoPublisher {
    display: flex;
    align-items: center;
}

.icons {
    transform: scale(.5);
}