.videoListWrapper {
    text-align: left;
    position: relative;
    left: 0px;
}

.videoListName {
    color: white;
    font-weight: bold;
    font-size: .8rem;
}

.videoListPublisher,
.videoListViews {
    color: lightgray;
    font-size: .7rem;
}