.App {
  text-align: center;
  background-color: #282c34;
  margin-top: 0;
}

.App-header-div {
  padding-top: 5vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  color: white;
  font-family: 'Yeseva One', serif;
  padding-bottom: 5vh;
}

.App-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
}