.app {
  background-color: white;
  margin: 0;
}

.app-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.app-header-left {
  align-items: flex-start;
}

.app-header-left-icon {
  color: #606060;
  cursor: pointer;
}

.app-logo {
  height: 1.2rem;
  margin-left: 3vh;
}

.app-header-middle {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid lightgray;
}

.app-header-middle > input {
  flex: 1;
  border: none;
}

.app-inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.app-inputText {
  font-size: 1rem;
  padding: 5px 10px;

}

.app-header-right {
  display: flex;
  align-items: center;
}

.app-header-right-icon {
  color: #606060;
  margin-right: 20px;
}

.app-header-youtube-icons {
  font-size: 1.5rem !important;
  color: red!important;
  margin-right: 20px;
}

.app-body {
  display: flex;
  justify-content: flex-end;
}

.app-content {
  display: flex;
  flex: 0.8;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 10px 20px;
  padding-bottom: 0;
}

.app-sidebar-active {
  flex: 0.2;
}
.app-sidebar {
  flex: 0.2;
  transform: translateX(-100%);
}

hr {
  height: 1px;
  border: 0;
  background-color: #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-sidebarRow {
  display: flex;
  align-items: center;
  padding: 2px 20px;
}

.app-sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.app-sidebarRow-icon {
  color: #606060;
  font-size: large !important;

}

.app-sidebarRow:hover > .app-sidebarRow-icon {
  color: red;
}

.app-sidebarRow-title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.app-loading {
  font-size: 1.5rem;
  border: 1px solid;
  width: 561px; 
  height: 316px;
  text-align: center;
  padding-top: 50px;
  flex: 0.55;
  margin-right: 25px;

}

.popup-menu {
  font-size: 14px!important;
}


.popup-links {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}