.light {
    --theme-color: FF0000;
    --theme-page-background: #FFF;
    --theme-page-text: #111;
}

.dark {
    --theme-color: #FF0000;
    --theme-page-background: #282828;
    --theme-page-text: #FFF;
}